<!DOCTYPE html>
<html>
<head>
<title>Wiki Jeux</title>
<link rel="stylesheet" href="{{ url_for('static', filename='mon_style.css') }}">
<meta charset="UTF-8">
</head>
<body>
<div class="retour">
<a href="{{ url_for('accueil') }}" class="bouton">Home</a>
</div>
<h1>Definition Game</h1>

<div class="listeJeux">
	<p><b>Definition :</b> {{definition}}</p>
	<p><b>Hint :</b> {{indice}} </p>

	<form action = "/jeu_dico/reponse" method="POST">
		<input type="text" name="proposition" class="zone_texte"/>
		<br>
		<br>
		<button type="submit" id="button">Submit</button>
		
		<input type="hidden" name="reponse" value="{{reponse}}" />
	</form>

</div>





</body>
</html>
