<!DOCTYPE html>
<html>
<head>
<title>Wiki Jeux</title>
<link rel="stylesheet" href="{{ url_for('static', filename='mon_style.css') }}">
<meta charset="UTF-8">
</head>
<body>

<div class="retour">
<a href="{{ url_for('accueil') }}" class="bouton">Home</a>
</div>

<div class="all">
    <h1>Clues Game</h1>
    <div id="gauche">
        <div class="listePucesI">
            <ul>
                <p><b> Clues : </b></p>
                {%for i in indices%} 
              
                <li><b>{{i[0]}} :</b> {{i[1]}}</li> 

            {%endfor%} 
            </ul>
        </div>
    </div>
    <div id="droite">
        <div class="reponse">
            <form action = "/jeu_indices/reponse" method="POST">
                    <p><b> What is your answer ?</b></p>
                    <input type="text" name="proposition" class="zone_texte"/>
                    <br>
                    <br>
                    <button type="submit" id="button">Submit</button>
                    
                    <input type="hidden" name="reponse" value="{{reponse}}" />
            </form>
        </div>
    </div>
</div>
</body>
</html>
